[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.13"
gunicorn = "*"
tomli = "==1.2.3"
python-decouple = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
coverage = "==6.2"

[requires]
python_version = "3.9"
