{% extends 'base/base.html' %}
{% load static %}
{% block title %}Lista de vídeos gratuitos {% endblock %}
{% block description %}Página com a lista de todos os vídeos gratuitos do curso.{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4 mb-3">Lista de vídeos gratuitos</h1>
            <ol>
                {% for video in videos %}
                <li><a href="{{ video.get_absolute_url }}" target="_blank">{{ video.titulo }}</a></li>
                {% empty %}
                Nenhum vídeo disponível.
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock body %}