{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Curso de Python com Luciano Ramalho</h2>
                <h4 class="mt-4">Matrículas abertas, custo R$999,90</h4>
                <!-- INICIO DO BOTAO PAGSEGURO -->
                <a href="https://pag.ae/7YeBrNuG4/button" target="_blank"
                   title="Pagar com PagSeguro"><img
                        src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
                        alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a>
                <!-- FIM DO BOTAO PAGSEGURO -->

                <!--                <h4 class="mt-4">Entre na fila de espera</h4>-->


                <!--                <form action="https://blogspot.us7.list-manage.com/subscribe/post?u=d1f608d8da33795ad29eb0f77&amp;id=fcd29dbd35"-->
                <!--                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
                <!--                      class="form-row align-items-center" target="_blank" novalidate>-->

                <!--                    <div class="form-row align-items-center">-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-FNAME">Nome</label>-->
                <!--                            <input type="text" value="" name="FNAME" class="form-control mb-2" id="mce-FNAME"-->
                <!--                                   placeholder="Nome">-->
                <!--                        </div>-->

                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-EMAIL">Email</label>-->
                <!--                            <input type="email" value="" name="EMAIL" class="form-control mb-2 required" id="mce-EMAIL"-->
                <!--                                   placeholder="exemplo@email.com">-->
                <!--                        </div>-->

                <!--                        &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
                <!--                        <div style="position: absolute; left: -5000px;" aria-hidden="true">-->
                <!--                            <input type="text"-->
                <!--                                   name="b_d1f608d8da33795ad29eb0f77_fcd29dbd35"-->
                <!--                                   tabindex="-1"-->
                <!--                                   value="">-->
                <!--                        </div>-->

                <!--                        <div class="col-auto">-->
                <!--                            <input type="submit" value="Salvar" name="subscribe" id="mc-embedded-subscribe"-->
                <!--                                   class="btn btn-primary mb-2">-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-default">
                        <lt>
                            <lt class="lt-highlighter__wrapper">
                                <lt class="lt-highlighter__scroll-element">
                                </lt>
                            </lt>
                        </lt>
                        <h5 class="card-header">
                            Conheça um pouco mais o instrutor
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/luciano-ramalho.jpg' %}" class="img-thumbnail float-left mr-3"
                                     alt="Foto Luciano Ramalho">
                                Ramalho é sócio e professor na
                                <a href="http://turing.com.br" target="_blank">Oficina Turing</a> e
                                <a href="http://python.pro.br" target="_blank">Python.pro.br</a>.
                                Foi diretor técnico do
                                <a href="http://pt.wikipedia.org/wiki/Brasil_Online" target="_blank">Brasil Online</a>,
                                primeiro portal da Abril S/A na Web.
                                Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python
                                desde 1998.
                                Como instrutor, atendeu clientes como Globo.com, Sesc, Itaú, Serpro e Presidência da
                                República. Ajudou a criar a Associação Python Brasil e foi seu presidente. É membro da
                                Python Software Foundation e um dos fundadores do
                                <a href="https://garoa.net.br" target="_blank">Garoa Hacker Clube</a>,
                                o primeiro
                                hackerspace do Brasil. Já palestrou várias vezes em eventos internacionais como FISL,
                                <a href="http://www.oscon.com/oscon2013/public/schedule/detail/29389" target="_blank">
                                    O’Reilly Open Source Convention</a>
                                e <a href="https://us.pycon.org/2013/speaker/profile/165/" target="_blank">PyCon US</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}